.circle-logged {
  background-color: #FF007F; /* สีชมพูทึบ */
  color: white; /* ตัวเลขสีขาว */
  border-radius: 50%;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.circle-predicted {
  border: 2px dashed #FF007F; /* เส้นปะสีชมพู */
  color: #FF007F; /* สีตัวเลข */
  border-radius: 50%;
}

.calendar-day {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.circle-logged::after {
  content: attr(data-day); /* แสดงตัวเลขของวัน */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* จัดกลางตัวเลข */
  color: white;
  font-weight: bold;
  z-index: 3; /* ให้ตัวเลขอยู่ด้านบนสุด */
}